*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Protest Riot", sans-serif;
  font-weight: 200;
  font-style: normal;
}

body{
    background-color: rgb(42, 44, 43);
    
}
.card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(xl) {
      column-count: 5;
    }
  }
.logo-img:hover{
    filter: brightness(0) saturate(100%) invert(54%) sepia(55%) saturate(6515%) hue-rotate(347deg) brightness(106%) contrast(101%);}
.item:hover{
    color:  #ff5722;
}
.name{
    color: rgb(133, 228, 228);
}
.text{
    margin-left: 8%;
    margin-top: 10%;
    text-align: center;
    color: white;
}
.text span{
    color:  #ff5722;
}
.button{
    background-color:  #ff5722;;
}
.image{
    border-radius: 50%;
    width: 80%;
    margin-top: 100px;
    margin-left: 20vw;
    box-shadow: 0 10px 8px 0 #ff5722, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: float 4s ease-in-out infinite;
    
}
.images{
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    width: 50%;
    margin-top: 180px;
    margin-left: 15vw;
    box-shadow: 0 10px 8px 0 #ff5722, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: float 4s ease-in-out infinite;
}    
@keyframes float {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
    
}
@keyframes floati {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-1rem);
    }
    100%{
        transform: translateY(0);
    }
    
}
.icon{
    animation: floati 4s ease-in-out infinite; 
}
  .typing-demo {
    width: 25ch;
    animation: typing 2s infinite, blink .5s infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #ff5722;
    font-family: monospace;
    font-size: 1.6em;
  }
  
  @keyframes typing {
    0%{
      width: 0;
    }
    
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
  .social:hover{
    filter: contrast(0.4);
  }

.content1 ul li{
    list-style: none;
    margin: 10px 0;
}
.content1 li span{
    color: #ff5722;

}
.content1 li {
    color: white;
}
.content1{
    display: none;
}
.content1.act{
    display: block;
}
.active-link{
    color: #ff5722;
}
.table{
    border: none;
}
.full{
    justify-content: space-between;
}
#about1{
    margin-top: 13%;
}

#projects{
    margin-top: 13%;
}
span{
    color: #ff5722;
}
#about{
    margin-top: 25%;
    background-color: rgb(49, 50, 49);
    border-radius: 20%;
}
.contact{
    margin-top: 15%;
}
.contact h2{
    margin-bottom: 3rem;
}
.contact-head{
    padding-top: 10px;
}
.contact form{
    max-width: 70rem;
    margin: 2rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box input, .contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: #ff5722;
    background-color: rgb(49, 50, 49);
    border-radius: 0.8rem;
    margin: .7rem 0;
} 
.contact form .input-box input{
    width: 49%;
    background-color: rgb(49, 50, 49);
}   
.contact form textarea{
    resize: none;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 10%;
    background-color: rgb(49, 50, 49);
}
.footer-text p{

}


@media (max-width : 1200px){
    html{
        font-size: 55%;
    }
}
@media (max-width : 991px){
    html{
        
    }
}

.timeline{
    position: relative;
    max-width: 1200px;
    margin: 20px auto;
}
.Container{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    border-radius: 6px;
    background: #ff5722;
}
.Text-box{
    padding:20px 30px ;
    background: #fff;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}

.left{
    left: 0;
}
.right{
    left: 50%;
}
.Container img{
    position: absolute;
    width: 40px;
}